tr.acb_sp_field textarea { resize:both;height:10em;width:70%;}
tr.acb_hidden {display:none;}
form p.submit input:not(:first-of-type) { margin-left:2em;}
.form-table th:first-of-type { width:4em; }
.notice p strong { white-space:pre-wrap;}
